<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Calculator tests">

    <test name = "Common operations tests" parallel="classes">
        <groups>
            <run>
                <include name="common"/>
            </run>
        </groups>
        <packages>
            <package name="com.epam.at.testngtests"/>
        </packages>
    </test>

    <test name = "Boolean operations tests">
        <parameter name="operationType" value="Boolean"/>
        <groups>
            <run>
                <include name="boolean"/>
            </run>
        </groups>
        <packages>
            <package name="com.epam.at.testngtests"/>
        </packages>
    </test>

    <test name = "Trigonometry operations tests">
        <groups>
            <run>
                <include name="trigonometry"/>
            </run>
        </groups>
        <packages>
            <package name="com.epam.at.testngtests"/>
        </packages>
    </test>

</suite>